#mih3 {
    color:rgb(255, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    /*font-family: sans-serif; (ESTO ES UN COMENTARIO) */
}

#division {
    background-color: rgb(4, 136, 92);
}

#primerparrafo{
    background-color:gray;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

#parrafos{
    background-color: rgb(155, 148, 148);
    border: 20%;
    text-align: center;
}

#divisiontitulos {
    background-color:rgb(43, 104, 104);
    border-radius: 10%;
}