#mih3 {
    color:rgb(255, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    /*font-family: sans-serif; (ESTO ES UN COMENTARIO) */
}

#division {
    background-color: rgb(4, 136, 92);
}

#primerparrafo{
    background-color:gray;
    font-family: Arial, Helvetica, sans-serif;
}

#parrafos{
    background-color: darkgrey;
}

#divisiontitulos {
    background-color:paleturquoise;
}