<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Sito WEB</title>
</head>
<body>
    <div>
        <a href="{{ url_for ('pagina1') }}"> Pagina 1</a>
        <a href="{{ url_for ('pagina2') }}"> Pagina 2</a>
    </div>
    <br>
    <hr>
    <br>

    {% block contenido %}
    {% endblock %}

    <br>
    <hr>
    <br>

    <h5>Esto es el pie de pagina</h5>
</body>
</html>