<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if tipo == 'hola' %}
        <h2>Hola Buenos dias</h2>
    {% elif tipo == 'tardes' %}
        <h1>Buenas TARDES</h1>
    {% elif tipo == 'adios' %}
        <H3>adios hasta la proxima</H3>
    {% else %}
        <h1>No concide ninguna frase</h1>
    
    {% endif %}
</body>
</html>