<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pimera Pagina WEB</title> <!--Nombre de pesta;a-->
</head>
<H1>HTML</H1> <!--CABEZERA-->
<body>
    <P>Esto es una pagina HTML , con informacion sobre HTML</P> <!--Parrafo-->

    <!-- === Enlace s otra pagina desde texto === -->
    <p><a href="https://developer.mozilla.org/es/docs/Web/HTML">Esto es un enlace de pagina WEB con referencia HTML</a> </p>
    
    <!-- === Solo Texto === -->
    <p>Tambien puede pulsar en la siguiente imagen para ir a la WEB</p>

    <!-- === Enlace a otra pagina desde Iamgen === -->
    <a href="https://developer.mozilla.org/es/docs/Web/HTML"><img src="imagenHTML.png" alt="No esta la imagen"></a>
    <p>

        <!-- === PARRAFO con texto de color "Rojo" === -->
        <span style="color:red">ESTE ES UN DOCUMENTO DE REFERENCIA</span> 
        
        <!--=== Listas=== -->
        <ol><H3>Mi lista HTML</H3>
            <li>Elementos</li>
            <li>Atributos</li>
            <li>Atributos Globales</li>
            <li>Tipos de Enlaces</li>
        </ol>
    </p>
    
</body>
</html>