<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector de Valores</title>
</head> 
<body>
    <form CLASS="" action="Resultado.html" method="get">
        
        <h3>Introduce la calidad de la imagen que deseas</h3>
        <select class="" name="Calidad">
            <option value="Baja">Baja</option>
            <option value="Media">Media</option>
            <option value="Alta">Alta</option>
            <option value="UHD">UHD</option>
        </select>
        <input type="submit" value="Enviar DATOS">
    </form>
</body>
</html>