<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas Y Formularios</title>
</head>

<body> 
    <table border="5"> <!--Tabla Con BORDES del 1 al 5 <table border="1 al 5"> -->
        <thead> <!--Titulos de las columnas-->
            <th>Nombre</th> <!--COLUMNA 1 -->
            <th>Colores</th> <!--COLUMNA 2 -->
            <th>Comidas</th> <!--COLUMNA 3 -->
        </thead>

        <tr> <!-- Descripcion por filas #1-->
            <td>Anderson</td> <!--objeto columna #1 -->
            <td>Rojo</td>  <!--objeto columna #2 -->
            <td>pescADO</td> <!--objeto columna #3 -->
        </tr>
        <tr> <!-- Descripcion por filas #2 -->
            <td>juan</td> <!--objeto columna #1 -->
            <td>verde</td>  <!--objeto columna #2 -->
            <td>cerdo</td> <!--objeto columna #3 -->
        </tr>
        <tr> <!-- Descripcion por filas #3 -->
            <td>camila</td> <!--objeto columna #1 -->
            <td>AMARILLO</td>  <!--objeto columna #2 -->
            <td>res</td> <!--objeto columna #3 -->
        </tr>
    </table>

    <P></P>
    <P></P>
    <P></P>

    <table> <!--Tabla sin Bordes-->
        <thead> <!--Titulos de las columnas-->
            <th>Nombre</th> <!--COLUMNA 1 -->
            <th>Colores</th> <!--COLUMNA 2 -->
            <th>Comidas</th> <!--COLUMNA 3 -->
        </thead>

        <tr> <!-- Descripcion por filas #1-->
            <td>Anderson</td> <!--objeto columna #1 -->
            <td>Rojo</td>  <!--objeto columna #2 -->
            <td>pescADO</td> <!--objeto columna #3 -->
        </tr>
        <tr> <!-- Descripcion por filas #2 -->
            <td>juan</td> <!--objeto columna #1 -->
            <td>verde</td>  <!--objeto columna #2 -->
            <td>cerdo</td> <!--objeto columna #3 -->
        </tr>
        <tr> <!-- Descripcion por filas #3 -->
            <td>camila</td> <!--objeto columna #1 -->
            <td>AMARILLO</td>  <!--objeto columna #2 -->
            <td>res</td> <!--objeto columna #3 -->
        </tr>
    </table>

</body>


</html>